* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.section1 {
  background-image: url("HeroImage.png");
  width: 1440px;
  height: 773px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
}
.action button {
  border-radius: 24px;
  padding: 30%;
  border: white;
  width: 40px;
  height: 40px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;

  font-weight: 600;
}

.menus {
  display: flex;
  justify-content: end;
  margin: 30px;
  gap: 24px;
}
.texts {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.jijig {
  color: #e8edf2b8;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  font-family: "Bebas Neue", sans-serif;
}
.tom {
  color: #fdfdfefa;
  font-size: 250px;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}
.menus p {
  width: 100px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.text {
  color: #ffffffcc;
  font-size: 64px;
  font-weight: 900;
  font-style: normal;
  font-family: "Hanuman", sans-serif;
}
